# Digtizaing Munch Art Requirements

# Core Django
Django>=5.2, <6

# Database
psycopg2-binary>=2.9.3, <3

# Configuration
python-decouple>=3.8, <4
python-dotenv>=1.2.2, <2
Pillow>=12.0.0, <13
pyvips>=3.1.1, <4

# REST Framework
djangorestframework>=3.17.0, <4
django-filter>=25.2, <26
drf-dynamic-fields>=0.4.0, <1
drf-generators>=0.5.0, <1
drf-spectacular>=0.29.0, <1
djangorestframework-xml>=2.0.0, <3
djangorestframework-gis>=1.2.1, <2
django-leaflet>=0.33.0, <1
django-leaflet-admin-list>=0.0.11, <0.1
django-map-widgets>=0.5.4, <1

# CORS support
django-cors-headers>=4.9.0, <5

# Admin interface and UI enhancements
django-admin-interface>=0.32.0, <1
django-admin-autocomplete-filter>=0.7.1, <1
django-colorfield>=0.14.0, <1
django-rangefilter>=0.9.1, <1
django-ckeditor>=6.7.3, <7
django-better-admin-arrayfield>=1.4.2, <2

# Testing
pytest>=9.1.1, <10
pytest-django>=4.12.0, <5
pytest-cov>=7.1.0, <8
factory-boy>=3.3.3, <4
django-debug-toolbar>=7.0.0, <8

# Static files
whitenoise>=6.12.0, <7

# Error tracking
# sentry-sdk>=2.64.0, <3

# Production server
gunicorn>=26.0.0, <27

# File storage
# django-storages>=1.13.1
# boto3>=1.26.0

# Authentication
# django-oauth-toolkit>=2.2.0

# Utilities
requests>=2.34.2, <3
lxml>=6.1.1, <7
# beautifulsoup4>=4.11.1
iiif-prezi3>=3.1.1, <4
# pyyaml>=6.0, <7
# inflection
# uritemplate
